<%= form_for(@evento_deportivo) do |f| %>
  <% if @evento_deportivo.errors.any? %>
    <ul data-role="listview"  style="padding-top:25px; padding-left:25px; width:60%;"%>
    <li data-role="list-divider" style= "background:red">Se encontraron <%=@evento_deportivo.errors.count%> error(es) en validaciones:</li>

      <% @evento_deportivo.errors.full_messages.each do |msg| %>
        <li style="font-size:12px; padding:3px;border-top-width: 0px; background-image:none;"><%= msg %></li>
      <% end %>
  </ul>
  <br><br>
  <% end %>


  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Nombre</legend>
    <%= f.text_field :nombre %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Fecha de inicio</legend>
    <%= f.date_select :fecha_inicio %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Fecha de fin</legend>
    <%= f.date_select :fecha_fin %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Lugar</legend>
    <%= f.text_field :lugar %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Horario</legend>
    <%= f.text_field :horario %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Detalles adicionales</legend>
    <%= f.text_area :detalles_adicionales %>
  </fieldset>
  <div class="actions">
    <%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %>
  </div>
<% end %>
