
  <% 
  @horasDia =      [["--Seleccione", ""],
  				   ["00:00", "1"],
  				   ["01:00", "1"],                             
                   ["02:00", "2"],
                   ["03:00", "3"],
                   ["04:00", "4"],
                   ["05:00", "5"],
                   ["06:00", "6"],
                   ["07:00", "7"],
                   ["08:00", "8"],
                   ["09:00", "9"],
                   ["10:00", "10"],
                   ["11:00", "11"],
                   ["12:00", "12"],
                   ["13:00", "13"],
                   ["14:00", "14"],
                   ["15:00", "15"],
                   ["16:00", "16"],
                   ["17:00", "17"],
                   ["18:00", "18"],
                   ["19:00", "19"],
                   ["20:00", "20"],
                   ["21:00", "21"],
                   ["22:00", "22"],
                   ["23:00", "23"]                                             
                   ]
  
  
  %>
  

<script>







function abrirCalendario(){
	window.open('/calendario.html', 'Calendario', 'width=800,height=600')
}




function GetSelectValueFromChild(id, text)
{

  document.getElementById(id).selectedIndex = text-1;

}

function GetValueFromChild(id, text)
{

  document.getElementById(id).value = text;
}

</script>

<%= form_for(@reserva) do |f| %>
   <% if @reserva.errors.any? %>
    <ul data-role="listview"  style="padding-top:25px; padding-left:25px; width:60%;"%>
    <li data-role="list-divider" style= "background:red">Se encontraron <%=@reserva.errors.count%> error(es) en validaciones:</li>

      <% @reserva.errors.full_messages.each do |msg| %>
        <li style="font-size:12px; padding:3px;border-top-width: 0px; background-image:none;"><%= msg %></li>
      <% end %>
  </ul>
  <br><br>
  <% end %>

  <div class="field">
  	<%= f.hidden_field :espacio_deportivo_id, :value=>@espacio_deportivo.id %>
    <%= f.label :espacio_deportivo_id %><br />
    <%= f.text_field :espacio_deportivo_nombre, :maxlength=>'30', :disabled=>'disabled',:style=>'width: 300px;', :value=>@espacio_deportivo.nombre %>
    
    <%= link_to 'Ver disponibilidad', :controller => "reservas", :action => "verCalendarioReservas", :espacio_deportivo_id =>@espacio_deportivo.id%>
    
    
  </div>  

  <div class="field">
    <%= f.label :local_deportivo_id %><br />
    <%= f.text_field :local_deportivo_nombre, :maxlength=>'30', :disabled=>'disabled',:style=>'width: 300px;', :value=>@local_deportivo.nombre %>
  </div>  


  
  <div class="field">
  	<%= f.label :fecha %><br />
   <input name="reserva[fecha]" id="fecha" type="date" 
   <% if @fecha!=nil %>
     value="<%=@fecha%>"
   <%end%>
   data-options='{"mode": "calbox", "dateFormat":"YYYY-mm-dd"}'
   class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c" >
  </div>
  
  

  <div class="field">
    <%= f.label :hora_inicio %><br />
    <%= f.select :hora_inicio, options_for_select(@horasDia,params[:horaInicio]), :id=>"reserva_hora_inicio"%>
  </div>
  
  
  <div class="field">
    <%= f.label :hora_fin %><br />
     <%= f.select :hora_fin, options_for_select(@horasDia,params[:horaFin]), :id=>"reserva_hora_fin"%>
  </div>

 <br>
  <div class="actions">
    <%= f.submit 'Reservar', 'data-icon'=>'check', 'data-theme'=>'b' %>
  </div>
<% end %>


