<%= form_for(@espacio_deportivo) do |f| %>
  <% if @espacio_deportivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@espacio_deportivo.errors.count, "error") %> prohibited this espacio_deportivo from being saved:</h2>

      <ul>
      <% @espacio_deportivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Nombre</legend>
    <%= f.text_field :nombre %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Costo</legend>
    <%= f.text_field :costo %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Capacidad</legend>
    <%= f.number_field :capacidad %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Descripción</legend>
    <%= f.text_field :descripcion %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Local Deportivo</legend>
    <%= f.number_field :local_deportivo_id %>
  </fieldset>
  <div class="actions">
    <%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %>
  </div>
<% end %>
