<%= form_for(@local_deportivo) do |f| %>
  <% if @local_deportivo.errors.any? %>
    <div id="error_explanation">
      <h2>Se encontraron <%=@local_deportivo.errors.count%> error(es) en validaciones:</h2>

      <ul>
      <% @local_deportivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Nombre</legend>
    <%= f.text_field :nombre %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Dirección</legend>
    <%= f.text_field :direccion %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Descripción</legend>
    <%= f.text_area :descripcion %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Servicios</legend>
    <%= f.text_area :servicios %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Contacto</legend>
    <%= f.text_field :contacto %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Telefono</legend>
    <%= f.text_field :telefono %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>E-mail</legend>
    <%= f.text_field :email %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Latitud</legend>
    <%= f.text_field :latitud %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Longitud</legend>
    <%= f.text_field :longitud %>
  </fieldset>
  <div class="actions">
    <%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %>
  </div>
<% end %>
