
<%= form_for @local_deportivo, :html => { :multipart => true } do |f| %>
    <% if @local_deportivo.errors.any? %>
    <ul data-role="listview"  style="padding-top:25px; padding-left:25px; width:60%;"%>
    <li data-role="list-divider" style= "background:red">Se encontraron <%=@local_deportivo.errors.count%> error(es) en validaciones:</li>

      <% @local_deportivo.errors.full_messages.each do |msg| %>
        <li style="font-size:12px; padding:3px;border-top-width: 0px; background-image:none;"><%= msg %></li>
      <% end %>
  </ul>
  <br><br>
  <% end %>
  
    
  
 
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Nombre</legend>
    <%= f.text_field :nombre %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Dirección</legend>
    <%= f.text_field :direccion %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Descripción</legend>
    <%= f.text_area :descripcion %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Servicios</legend>
    <%= f.text_area :servicios %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Contacto</legend>
    <%= f.text_field :contacto %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Telefono</legend>
    <%= f.text_field :telefono %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>E-mail</legend>
    <%= f.text_field :email %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Latitud</legend>
    <%= f.text_field :latitud %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Longitud</legend>
    <%= f.text_field :longitud %>
  </fieldset>
  
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Imagen</legend>
    <%= f.file_field :imagen_ld %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %>
  </div>

<% end %>

