<%= content_for :header do %>
  <%= link_to "Home", root_path, 'data-icon'=> 'home' %>
  <h1>Busqueda de Locales Deportivos</h1>  
<% end %>
  

<br>
<input  data-theme="a" data-shadow="true" name="commit" type="button" onclick="javascript:window.location ='/buscarDisponibilidad';"  value="Busqueda Avanzada" class="ui-btn-hidden" aria-disabled="false">

<br><br>
      
<ul data-role="listview" data-filter="true" data-inset="true">

<li data-role="list-divider">Listado de Locales Deportivos</li>
<% @local_deportivos.each do |local_deportivo| %>
    <li>
    	<a href='<%= local_deportivo_path(local_deportivo) %>'>    	
    	
    	<% if local_deportivo.imagen_ld.exists? then %>
	    <%= image_tag local_deportivo.imagen_ld.url, :height => '200', :width => '200' %>
        <% else %>
        <%= image_tag("futbol.jpg", :height => '200', :width => '200') %>
        <% end %>
    	
    	<h3><%= local_deportivo.nombre %></h3>
	    <p>Dirección: <%= local_deportivo.direccion %></p>	    
	    <p>Telefono: <%= local_deportivo.telefono %></p>
	    <p>Email: <%= local_deportivo.email %></p>
	    <p>
	    <% if usuario_logueado && usuario_logueado.rol == "3"%>
        	<%= link_to 'Editar', edit_local_deportivo_path(local_deportivo)%>
       <% end %>
       </p>
	    	    	
	    
	    </a>
	</li>
  
<% end %>
</ul>