<%= content_for :header do %>
  <%= link_to "Home", root_path, 'data-icon'=> 'home' %>
<% end %>


<ul>
<li>
	<%= link_to 'Reserva tu cancha', busqueda_path, 'data-role'=>'button', 'data-icon'=>'search' %>	
</li>
<li>
	<%= link_to 'Eventos Deportivos', evento_deportivos_path, 'data-role'=>'button', 'data-icon'=>'info' %>	
</li>
 <% if usuario_logueado %>
<li>
	<%= link_to 'Mis reservas', 'verMisReservas', 'data-role'=>'button', 'data-icon'=>'check' %>	
</li>
 <% end %>
<li>
	<%= link_to 'Mis canchas favoritas', '', 'data-role'=>'button', 'data-icon'=>'star' %>	
</li>
<li>
	<%= link_to 'Registra tu cancha', local_deportivos_path, 'data-role'=>'button', 'data-icon'=>'grid' %>
</li>

<li>
	<%= link_to 'Busca tu cancha', 'buscarDisponibilidad', 'data-role'=>'button', 'data-icon'=>'grid' %>
</li>


  <% if usuario_logueado && usuario_logueado.rol == "2"%>
   <li>
   <%= link_to 'Mis Locales Deportivos', "verMisLocales", 'data-role'=>'button', 'data-icon'=>'grid' %>
   </li>
  <% end %>
  
  
  <% if usuario_logueado && usuario_logueado.rol == "3"%>
   <li>
   <%= link_to 'Registro usuarios', "usuarios/new", 'data-role'=>'button', 'data-icon'=>'grid' %>
   </li>
   <li>
   <%= link_to 'Revisar Solicitudes de Locales', "verSolicitudes", 'data-role'=>'button', 'data-icon'=>'grid' %>
   </li>
  <% end %>
  
  

<p align="center">
	<%= image_tag("banner.jpg") %>
</p>	




</li>
</ul>	
