<%= content_for :header do %>
    <%= link_to 'Locales Deportivos', local_deportivos_path, 'data-icon'=> 'back'  %>
  <h1>Información del local Deportivo</h1>    
  	  <% if usuario_logueado && usuario_logueado.rol == "3"%>
       	<%= link_to 'Editar', edit_local_deportivo_path(@local_deportivo), 'data-role'=>'button', 'data-icon'=>'gear'  %>
    <% end %>
    
  
<% end %>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />

<script type="text/javascript">

window.onload = function funcion1()
{
	
	var map;
    $(document).ready(function(){
    map = new GMaps({
        div: '#map',
        lat: '<%= @local_deportivo.latitud %>',
        lng: '<%= @local_deportivo.longitud %>',   
        height: '500px',   
        zoomControl : true,
        zoomControlOpt: {
            style : 'SMALL',
            position: 'TOP_LEFT'
        },
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false
      });
      map.addMarker({
        lat: '<%= @local_deportivo.latitud %>',
        lng: '<%= @local_deportivo.longitud %>',
        title: '<%= @local_deportivo.direccion %>',
        click: function(e){
          if(console.log)
            console.log(e);
          alert('<%= @local_deportivo.direccion %>');
        }
      });
      map.addControl({
        position: 'top_right',
        text: 'Geolocate',
        style: {
          margin: '5px',
          padding: '1px 6px',
          border: 'solid 1px #717B87',
          background: '#fff'
        },
        events: {
          click: function(){
            GMaps.geolocate({
              success: function(position){
                map.setCenter(position.coords.latitude, position.coords.longitude);
              },
              error: function(error){
                alert('Geolocalización falló: ' + error.message);
              },
              not_supported: function(){
                alert("El explorador no soporta geolocalización");
              }
            });
          }
        }
      });
    });
    document.getElementById("idJQueryNew").disabled = false;
    //$.mobile.ajaxFormsEnabled = false;
}
</script>
  
<ul data-role="listview" data-inset="true">
<li data-role="list-divider">Información</li>
<li>

<% if @local_deportivo.imagen_ld.exists? then %>
	<%= image_tag @local_deportivo.imagen_ld.url, :height => '200', :width => '200' %>
<% else %>
    <%= image_tag("futbol.jpg", :height => '200', :width => '200') %>
<% end %>
	  <h1>
	  	<%= @local_deportivo.nombre %>
	  </h1>	  	
	<p>
	  <b>Direccion:</b>
	  <%= @local_deportivo.direccion %>
	</p>
	<p>
	  <b>Telefono:</b>
	  <%= @local_deportivo.telefono %>
	</p>
	<p>
	  <b>Contacto:</b>
	  <%= @local_deportivo.contacto %>
	</p>
	<p>
	  <b>Email:</b>
	  <%= @local_deportivo.email %>
	</p>
	<p align="right">
		 <% if usuario_logueado && usuario_logueado.rol == "3"%>
		<%= link_to 'Listado de espacios deportivos', :controller => "espacio_deportivos", :action => "findbylocal", :id => @local_deportivo.id %>
		 <% end %>
	</p>
</li>
<li data-role="list-divider">Detalle</li>
<li>
	<p>
	  <b>Descripcion:</b>
	  <%= @local_deportivo.descripcion %>
	</p>
</li>
<li data-role="list-divider">Servicios</li>
<li>
	<p>
<% @local_deportivo.servicios.split(/,/).each do |servicio| %>
<p>
    <%= image_tag("check.jpg") %> 
	<%= servicio %>
</p>
<% end %>
	</p>
</li>
<li data-role="list-divider">Listado de Espacios Deportivos</li>
<% @espacio_deportivos.each do |espacio_deportivo| %>
  <li>
    <h3><%= espacio_deportivo.nombre %></h3>
    <p>Costo: <%= espacio_deportivo.costo %></p>
    <p>Capacidad: <%= espacio_deportivo.capacidad %></p>
    <p>Descripción: <%= espacio_deportivo.descripcion %></p>
    <p>Local Deportivo: <%= espacio_deportivo.local_deportivo_id %></p>
     <p>
     <% if current_user || usuario_logueado %>
    <%= link_to "Reservar", new_reserva_path(:espacio_deportivo_id => espacio_deportivo.id), 'data-theme'=>'a' %>
    <% end %>
    </p>
    </a>
    <p>
    	
     <% if usuario_logueado && usuario_logueado.rol == "3"%>
       <%= link_to 'Editar', edit_espacio_deportivo_path(espacio_deportivo) %>
    <% end %>
    	
    </p> 
        <% end %>   
  </li>

<li data-role="list-divider">Ubicación</li>	

<li>
	<p>
  <div class="row" align="center">

    <div class="span11">
      <div id="map"></div>
    </div>

  </div>		
	</p>
</li>
</ul>